In [1]:
import pandas as pd

In [2]:
url ='https://raw.githubusercontent.com/C4AnN/Models/main/SalesForecasting(Model1)/train.csv'
store_sales = pd.read_csv(url)
store_sales.head(10)

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10
5  2013-01-06      1     1     12
6  2013-01-07      1     1     10
7  2013-01-08      1     1      9
8  2013-01-09      1     1     12
9  2013-01-10      1     1      9

In [3]:
store_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    913000 non-null  object
 1   store   913000 non-null  int64
 2   item    913000 non-null  int64
 3   sales   913000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 27.9+ MB

In [4]:
num_rows = store_sales.shape[0]
print(f"Jumlah baris dalam data: {num_rows}")

Jumlah baris dalam data: 913000

In [5]:
store_sales = store_sales.drop(['store','item'], axis=1)
store_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    913000 non-null  object
 1   sales   913000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 13.9+ MB

In [6]:
store_sales_subset = store_sales.iloc[:103000]

In [7]:
store_sales_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103000 entries, 0 to 102999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    103000 non-null  object
 1   sales   103000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.6+ MB

In [8]:
store_sales_subset.info()
num_rows = store_sales_subset.shape[0]
print(f"Jumlah baris dalam data: {num_rows}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103000 entries, 0 to 102999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    103000 non-null  object
 1   sales   103000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.6+ MB
Jumlah baris dalam data: 103000

In [9]:
store_sales_subset.to_csv('train_subset.csv', index=False)

In [10]:
url ='https://raw.githubusercontent.com/C4AnN/Models/main/dataset_processing%20(2)/data%20awal.csv'
store_sales2 = pd.read_csv(url)
store_sales2.head(10)

                                                name     price
0  Lenovo Legion Y540 - i7 9750H 16GB 512ssd 1TB ...  16999000
1  ASUS ROG G531GU-I566G2T i5 9300H|8GB|512GB SSD...  16899000
2  ASUS ROG GU502GU-I7664B Zephyrus M i7 9750H|16...  28299000
3             ASUS ROG Strix G531GV-I7R6S1T [Scar 3]  30999000
4  ASUS ROG G531GT-I765G1T STRIX III i7-9750H 8GB...  16999000
5  ASUS ROG HERO G531GU-I766H2T i7-9750H-16GB-256...  24590000
6  ASUS ROG STRIX III G531GT-I765G4B i7-9750H|8GB...  17499000
7  Asus ROG Zephyrus M GX502GW i7 9750 16GB 1TB S...  29199000
8                            ASUS ROG STRIX G G731GT  18499000
9  ASUS ROG STRIX G512LU-I766B6T i7-10750H 8GB 51...  20553000

In [11]:
store_sales2.info()
num_rows = store_sales2.shape[0]
print(f"Jumlah baris dalam data: {num_rows}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103169 entries, 0 to 103168
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   name    103169 non-null  object
 1   price   103169 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.6+ MB
Jumlah baris dalam data: 103169

In [12]:
store_sales2_subset = store_sales2.iloc[:103000]
store_sales2_subset.info()
num_rows = store_sales2_subset.shape[0]
print(f"Jumlah baris dalam data: {num_rows}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103000 entries, 0 to 102999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   name    103000 non-null  object
 1   price   103000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.6+ MB
Jumlah baris dalam data: 103000

In [13]:
store_sales2_subset.to_csv('train2_subset.csv', index=False)

In [14]:
import pandas as pd

# Membaca kedua file CSV
df1 = pd.read_csv('train2_subset.csv')
df2 = pd.read_csv('train_subset.csv')

# Menggabungkan kedua dataframe secara horizontal
df_combined = pd.concat([df1, df2], axis=1)


# Menyimpan dataframe gabungan ke dalam file CSV baru
df_combined.to_csv('file_gabungan.csv', index=False)

In [15]:
df = pd.read_csv('file_gabungan.csv')

# Memastikan kolom harga dalam format numerik
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Memfilter data berdasarkan harga
filtered_df = df[df['price'] <= 8000000]

# Menampilkan data yang difilter
print(filtered_df)

# Menyimpan data yang difilter ke file CSV baru
filtered_df.to_csv('filtered_data_low_level.csv', index=False)

                                                     name    price  \
153                   ASUS Vivobook A409FA- BV351T/BV352T  6850000
154     ASUS VIVOBOOK A412FA I3-8145U 4GB 512GB SSD 14...  7999000
155     ASUS VIVOBOOK M409BA-BV411T / M409BA-BV412T A4...  3989000
158     ASUS VivoBook MAX X441BA - A9 9425/1TB/4GB/Rad...  4898000
162     Notebook ASUS VivoBook MAX X441MA - Dual Core ...  4014000
...                                                   ...      ...
102908  Asus Vivobook A412FA - Intel Pentium Gold 5405...  6499000
102912                    ASUS Vivobook Intel N4000 500GB  4555000
102914  ASUS VIVOBOOK A412FA - PENTIUM 5405U 8GB 256GB...  7499000
102915  ASUS VIVOBOOK A412FA - PENTIUM 5405U 4GB 256GB...  6999000
102995                              Dell inspiron 14-5447  3399000

              date  sales
153     2013-06-03     12
154     2013-06-04     15
155     2013-06-05     24
158     2013-06-08     20
162     2013-06-12     22
...            ...    ...
102908  2014-10-15     30
102912  2014-10-19     50
102914  2014-10-21     33
102915  2014-10-22     35
102995  2015-01-10     32

[27065 rows x 4 columns]

In [16]:
import pandas as pd

# Membaca file CSV yang telah digabungkan
df = pd.read_csv('file_gabungan.csv')

# Memastikan kolom 'price' dalam format numerik
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Memfilter data berdasarkan harga
filtered_df = df[(df['price'] > 8000000) & (df['price'] <= 16000000)]

# Menampilkan data yang difilter
print(filtered_df)

# Menyimpan data yang difilter ke file CSV baru
filtered_df.to_csv('filtered_data_mid_level.csv', index=False)

                                                     name     price  \
11      monsters gaming asus rog gl553vd i7 7700hq 16g...  13750000
16      Asus ROG G531GT I565B1T i5 9300 8GB 512ssd GTX...  13349000
25      Asus Slim Monster Gaming ROG GL502VM w/ GTX 10...  14999000
28      LENOVO L340 15IRH-1UID GAMING i7-9750 8GB 512s...  12749000
29      MSI BRAVO 15 Ryzen 5 4600 8GB 256ssd RX5500M 4...  12549000
...                                                   ...       ...
102994  DELL Inspiron 13 5370 i7-8550U 8GB 256SSD R530...  11900000
102996  DELL Inspiron 5391 i5-10210u 8GB 512SSD MX250 ...  12299000
102997        DELL INSPIRON 5482 i3 8145U 4GB 1TB W10HOME   8300000
102998  DELL Inspiron 3576 (15.6 Inch) Core i7-8550U/8...  10750000
102999  Dell Inspiron 3476 - i5 8250 4GB 1TB DVD VGA 2...   8799000

              date  sales
11      2013-01-12      7
16      2013-01-17     16
25      2013-01-26     12
28      2013-01-29      6
29      2013-01-30      9
...            ...    ...
102994  2015-01-09     26
102996  2015-01-11     38
102997  2015-01-12     15
102998  2015-01-13     28
102999  2015-01-14     31

[47120 rows x 4 columns]

In [17]:
df = pd.read_csv('file_gabungan.csv')

# Memastikan kolom harga dalam format numerik
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Memfilter data berdasarkan harga
filtered_df = df[df['price'] > 16000000]

# Menampilkan data yang difilter
print(filtered_df)

# Menyimpan data yang difilter ke file CSV baru
filtered_df.to_csv('filtered_data_high_level.csv', index=False)

                                                     name     price  \
0       Lenovo Legion Y540 - i7 9750H 16GB 512ssd 1TB ...  16999000
1       ASUS ROG G531GU-I566G2T i5 9300H|8GB|512GB SSD...  16899000
2       ASUS ROG GU502GU-I7664B Zephyrus M i7 9750H|16...  28299000
3                  ASUS ROG Strix G531GV-I7R6S1T [Scar 3]  30999000
4       ASUS ROG G531GT-I765G1T STRIX III i7-9750H 8GB...  16999000
...                                                   ...       ...
102984  ASUS ROG ZEPHYRUS G GA502DU Ryzen 7-3750/16GB/...  19297000
102985  ASUS ROG ZEPHYRUS DUO 15 GX550LXS i9-10980HK 3...  68999000
102986  Asus ROG G512Li i7 10750 RAM 16GB 512GB ssd GT...  16399000
102990  ASUS ROG Zephyrus GM501GS # i7-8750 GTX1070 8G...  24500000
102991  Asus ROG Zephyrus G14 Ryzen9 4900HS 16GB 1TB s...  25999000

              date  sales
0       2013-01-01     13
1       2013-01-02     11
2       2013-01-03     14
3       2013-01-04     13
4       2013-01-05     10
...            ...    ...
102984  2014-12-30     24
102985  2014-12-31     21
102986  2015-01-01     23
102990  2015-01-05     20
102991  2015-01-06     17

[28815 rows x 4 columns]